@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #474787;

}
.container {
  width: 450px;
  background:#ECECEC ;
  border-radius: 8px;
-webkit-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
}

.container h2 {
  font-weight: 600;
  font-size: 1.31rm;
  padding: 1rem 1.75rem;
  border-bottom: 1px solid #d4dbe5;
}

.wrapper {
  margin: 1.25rem 1.75rem;
}

.wrapper .input-box {
  position: relative;
}
.input-box input {
  width: 100%;
  height: 50px;
  color: #000;
  background: none;
  font-size: 1.06;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 1.4px;
  border: 1px solid #aaa;
  padding: 0 2.85rem 0 1rem;

}

.input-box .material-symbols-outlined  {
  position: absolute;
  right: 13px;
  cursor:painter;
  line-height: 53px;
  color: #707070;
  background: none;
  border: none;
  top: -0px;
}

.input-box .material-symbols-outlined:hover{
  color: #474787
}

.wrapper .boxindicador .contador {
  width: 100%;
  height: 4px;
  position:relative;
  margin-top: 0.75rem;
  border-radius:25px;
}

.boxindicador {
  width: 100%;
  height: 10px;
  background-color: #eee;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden; 
}


.indicador-de-senha {      
  height: 100%;
  border-radius: 5px;
  animation: increaseWidth 0.5s ease forwards;
  width: 0; /* Começa com largura zero */
}


@keyframes increaseWidth {
  from { width: 0; }
  to { width: %; }
}


.weak{
  background: #e64a4a;
}
.medium{
  background: #f1c80b;
}
.strong{
  background: #43A043;
}
.wrapper .tamanho-da-senha {
  margin: 1.53rem 0 1.25rem;
}

.tamanho-da-senha .details {
  display: flex;
  justify-content: space-between;
}

.tamanho-da-senha input {
  width: 100%;
}

.passwordsettings .options {
  display: flex;
  list-style:none;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.passwordsettings .options .option {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: calc(100% / 2);
}

.options .option:first-child input{
  opacity: 0.7;
}
.options .option input{
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.options .option label{
  cursor: pointer;
  color: #4f4f4f;
  padding-left: 0.63rem;
}

.wrapper .buttonsenha {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background:#474787; 
  font-size: 1.06rem;
  padding: 0.94rem 0;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0.94rem 0 1.3rem;
}

.contador {
  position: relative;
  left: 100px;
}



/* Oculta o botão em dispositivos móveis com largura de tela menor ou igual a 768 pixels */
@media (max-width: 768px) {
  #copy {
    display: none;
  }
}
 

